
:root {
    --primary-color: rgb(77, 107, 254);
    --secondary-color: rgb(33, 35, 39);
    --background-color: rgb(41, 42, 45);
    --text-color: rgb(228, 228, 231);
    --text-secondary-color: rgb(186, 186, 193);
    --tx-color: rgb(255, 255, 255);
    --form-bg-color: rgb(64, 64, 69);
    --placeholder-color: rgb(161, 161, 170);
    --icon-color: rgb(205, 212, 223);
    --hover-color: rgb(43, 45, 48);
    --border-color: rgb(161, 161, 170);
    --btn-color: rgb(77, 107, 254);
    --btn-tx-color: rgb(255, 255, 255);
    --btn-secondary-color: rgb(205, 212, 223);
    --btn-hover-color: rgb(65, 102, 213);
    --btn-disabled-color: rgb(113, 113, 122);
    --error-color: rgb(229, 88, 101);
    --success-color: rgb(77, 107, 254);
    --scrollbar-color: rgb(77, 107, 254);
    --scrollbar-track-color: transparent;
    --bx-shadow: rgba(0, 0, 0, 0.1);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --anchor-color: rgb(30, 144, 255);
    --pre-color: rgb(80, 80, 90);
    --code-color: rgb(212, 212, 212);
    --userchat-bg-color: #414158;
    --client-bg-color: #38384b;
    --prf-options-bg:rgb(76 76 83);
    --more-options-bg: #3c3e42;
    --more-options: rgb(255, 255, 255);
}


[data-theme="light"] {
    --primary-color: rgb(77, 107, 254);
    --secondary-color: rgb(255, 255, 255);
    --background-color: rgb(245, 245, 245);
    --text-color: rgb(33, 35, 39);
    --text-secondary-color: rgb(100, 100, 100);
    --tx-color: rgb(0, 0, 0);
    --btn-tx-color: rgb(255, 255, 255);
    --form-bg-color: rgb(255, 255, 255);
    --placeholder-color: rgb(161, 161, 170);
    --icon-color: rgb(77, 107, 254);
    --hover-color: rgb(230, 230, 230);
    --hover-secondary-color: rgb(133, 130, 130);
    --border-color: rgb(200, 200, 200);
    --btn-color: rgb(77, 107, 254);
    --btn-secondary-color: rgb(205, 212, 223);
    --btn-hover-color: rgb(65, 102, 213);
    --btn-disabled-color: rgb(219 219 221);
    --error-color: rgb(229, 88, 101);
    --success-color: rgb(77, 107, 254);
    --scrollbar-color: rgb(77, 107, 254);
    --scrollbar-track-color: transparent;
    --bx-shadow: rgba(0, 0, 0, 0.1);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --anchor-color: rgb(30, 144, 255);
    --pre-color: rgb(240, 240, 240);
    --code-color: rgb(33, 35, 39);
    --userchat-bg-color:#e3e3e6;
    --client-bg-color: #e5e5e7;
    --prf-options-bg:rgb(170, 170, 182);
    --more-options-bg: #a1a4a9 ;
    --more-options: rgb(255, 255, 255);
}

/* زر التبديل */
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.theme-toggle button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--icon-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Cairo", sans-serif;
    transition: all .3s ease;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

nav {
    position: static;
    width: 19%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 15px 15px;
    box-shadow: 0 2px 5px var(--bx-shadow);
    transition: transform 0.5s ease;
    z-index: 10;
}

nav.nav__hidden {
    transform: translate(-100%);
    position: fixed;
}

div.sidebar__hidden {
    position: fixed;
    z-index: -10;
}

nav.fixed {
    position: fixed;
    z-index: 10;
}

div.sidebar.side__fixed {
    position: fixed;
    z-index: 9;
}

main.edit--nav_fixed {
    transform: translate(10%, 0%);
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 5%;
    height: 100vh;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px var(--bx-shadow);
    padding: 0px 5px;
    padding-top: 10px;
    gap: 20px;
}

.sidebar .sec-1,
.sidebar .sec-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.sidebar .logo__side svg {
    width: 90%;
    cursor: pointer;
    padding-left: 5px;
}


.sidebar .sidebar__side,
.sidebar .newchat__Side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .sidebar__side i,
.sidebar .newchat__Side i {
    font-size: 25px;
    cursor: pointer;
    color: var(--placeholder-color);
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 10px;
}

.sidebar .sidebar__side i:hover,
.sidebar .newchat__Side i:hover {
    background-color: var(--hover-color);
}

.sidebar .img__prof img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}

.main {
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.7);
}

main.fixed {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 100px;
}

.clickOptions {
    position: absolute;
    bottom: 20px;
    left: -20px;
    z-index: 1000;
    background-color: var(--prf-options-bg);
    padding: 10px;
    border-radius: 15px;
    width: 250px;
    display: flex;
    align-items: left;
    flex-direction: column;
    transform: scale(.75);
    opacity: 0;
    transition: all 0.3s ease;
    display: none;
}

.clickOptions h3 {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 18px;
    border-radius: 10px;
}

.clickOptions h3:hover {
    background-color: var(--hover-secondary-color);
}

.clickOptions a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: .7px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.clickOptions a i {
    font-size: 28px;
    margin-right: 10px;
}

.first__sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.navBar__logo svg {
    color: var(--icon-color);
    width: 80%;
    cursor: pointer;
}

#sideBar {
    color: var(--icon-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
}

.bx-sidebar:hover {
    background-color: var(--hover-color);
}

.second__sec {
    margin-bottom: 15px;
}

.second__sec .newChat {
    background-color: var(--btn-color);
    color: var(--btn-tx-color);
    padding: 8px 15px;
    margin: 15px 0;
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.second__sec .newChat:hover {
    background-color: var(--btn-hover-color);
}

.third__Sec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.historyDay {
    color: var(--text-color);
    font-size: 1.2rem;
}

.historyChats {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.historyChats .chatOne,
.historyChats .chatTwo {
    white-space: nowrap;
    padding: 5px 3px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 15px;
    font-size: .9rem;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.historyChats .chatOne:hover,
.historyChats .chatTwo:hover {
    background-color: var(--hover-color);
}

.historyChats svg {
    height: 100%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(110%, -50%);
    width: 45px;
    background: radial-gradient(circle, var(--more-options-bg) 40%, #3c3e421e 70%);
    color: var(--more-options);
    border-radius: 20px;
    padding: 0 10px 0 10px;
    transition: transform 0.3s ease;
}

.last__sec .divOne {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px 5px 5px;
    margin: 0 0 -10px -10px;
    cursor: pointer;
    border-radius: 15px;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.last__sec .divOne:hover {
    background-color: var(--hover-color);
}

.last__sec .divOne .profPic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.last__sec .divOne h2 {
    color: var(--text-secondary-color);
    font-size: 1rem;
    font-weight: 400;
}

svg {
    width: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    gap: 10px;
}

.head .sub {
    color: var(--text-color);
    font-size: 20px;
}

.head .divO {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.head svg {
    width: 110px;
    margin-right: -90px;
}

.head .main {
    font-size: 30px;
    color: var(--tx-color);
}

.prompt__deepseek input {
    color: var(--text-color);
    background-color: var(--form-bg-color);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.4rem;
    /* margin: 10px 0; */
    padding: 10px;
    width: 1050px;
    height: 90px;
}

.prompt__deepseek input::placeholder {
    color: --placeholder-color;
}

.prompt__options,
.prompt__options .divP,
.prompt__options .divC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 5px;
    margin-top: 10px;
}

.form_container {
    background-color: var(--form-bg-color);
    border-radius: 35px;
    overflow: hidden;
    padding: 0px 10px;
    height: 180px;
    box-shadow: 10px 5px 10px var(--bx-shadow);
    border: 3px solid #38384b15;
}

.form_container.fixed_pos {
    position: absolute;
    bottom: 0;
    right: -70px;
    z-index: 10;
}

.deepthink__btn,
.search__new {
    background-color: var(--form-bg-color);
    color: var(--tx-color);
    padding: 3px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 15px 0;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    outline: none;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.search__new span {
    background-color: var(--primary-color);
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 13px;
}

.attach__btn {
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.prompt__btn {
    position: relative;
}

div.prompt__btn button {
    background-color: var(--btn-disabled-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: not-allowed;
}

.prompt__btn button.stop__btn {
    position: absolute;
    background-color: var(--btn-color);
    top: 0;
    z-index: -1;
    cursor: pointer;
}

.prompt__btn button.stop__btn:hover {
    background-color: var(--btn-hover-color);
}

.prompt__btn svg.send--btn {
    color: #4b4b5b;
    fill: #4b4b5b;
}

.prompt__btn svg.send--active {
    color: rgb(255 255 255);
    fill: rgb(255 255 255);
}

.prompt__btn button.btn__active {
    background-color: var(--btn-color);
    cursor: pointer;
}

.prompt__btn button.btn__active:hover {
    background-color: var(--btn-hover-color);
}

.stop--btn {
    background: var(--tx-color);
    border-radius: 2px;
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    margin: 1px;
    cursor: pointer;
}


.prompt__disclaim {
    text-align: center;
    color: var(--placeholder-color);
    font-size: 0.85rem;
    margin-top: 1rem;
}


div.head.hide-header {
    display: none;
    margin: 0;
}

main {
    max-height: 70vh;
}

main .chats {
    padding: 0px 20px;
    max-height: 72vh;
    overflow-y: auto;
    width: 100%;
    transform: scale(.9);
    position: absolute;
    top: -600px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .chats::-webkit-scrollbar {
    width: 8px;
    background-color: var(--scrollbar-track-color);
}

main .chats::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

main .chats::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

main .chats {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--scrollbar-track-color);
}

@supports (scrollbar-width: thin) {
    main .chats {
        scrollbar-width: thin;
        scrollbar-color: var(--primary-color) var(--scrollbar-track-color);
    }
}

main .chats .message {
    margin-bottom: 10px;
    margin-bottom: 1.5rem;
}


main .chats .message__content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;
    transition: all 0.3s ease;
}

p.message__text {
    color: var(--tx-color);
    white-space: pre-wrap;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

main .chats div.message__text {
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

main .chats .message__text .msgg {
    color: var(--tx-color);
    white-space: pre-wrap;
}

main .chats .message__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

main .chats .message--outgoing {
    margin-left: auto;
    min-width: 80%;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}

main .chats .message--outgoing .message__content {
    flex-direction: row-reverse;
    box-shadow: 0 2px 4px var(--bx-shadow);
    border-radius: 20px;
    background-color: var(--userchat-bg-color);
    padding: 10px 15px;
    width: 80%;
}

main .chats .message--incoming .message__content {
    width: 80%;
    position: relative;
}

main .chats .message--incoming {
    margin-right: auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
}


main .chats .message--incoming svg {
    width: 50px;
    padding: 5px;
    background-color: var(--client-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 35px;
    transition: all 0.3s ease;
    margin-right: 5px;
}

.message__loading-indicator {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    margin-bottom: 20px;
}

.message__loading-bar {
    height: 1rem;
    width: 100%;
    border-radius: 0.135rem;
    background: linear-gradient(to right, #2563eb60 30%, var(--primary-color) 60%, #2563eb60);
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        background-position: -800px 0;
    }

    50% {
        background-position: 0px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

main .chats .message--error .message__text {
    color: var(--error-color);
}

main .chats .message__text .msgg pre {
    background-color: var(--pre-color);
    padding: 0;
    border-radius: 1rem;
    overflow-x: auto;
    white-space: pre-wrap;
    position: relative;
    padding-top: 50px;
    width: 110%;
    margin-top: -10px;
}

.profPic .text-xl,
.img-prof .text-xl {
    font-size: 2rem;
    line-height: 2rem;
}
.message .text-xl {
    font-size: 2rem;
    line-height: 2rem;
    padding: 6px 5px 5px 1px;
    width: 50px;
    height: 50px;
    background-color: var(--client-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 35px;
    transition: all 0.3s ease;
    margin-left: 10px;
    text-align: center;
}

main .chats .message__text .msgg code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: var(--code-color);
}

.hljs {
    background-color: var(--scrollbar-track-color);
}

.code-label {
    position: absolute;
    top: -0.6rem;
    left: 0.5rem;
    background-color: var(--scrollbar-track-color);
    font-weight: 600;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    color: var(--tx-color);
    padding: 0.5rem;
}

.copy-button {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    background-color: var(--scrollbar-track-color);
    border: none;
    outline: none;
    color: var(--tx-color);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
}

.message__text.typing::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

main .chats .message__text .msgg p {
    width: 100%;
}

main .chats .message__text .msgg a {
    color: var(--anchor-color);
    text-decoration: none;
}

main .chats .message__text .msgg ul {
    list-style: disc inside;
    margin-left: 35px;
    width: 100%;
    margin-top: -50px;
}

main .chats .message__text .msgg li {
    margin-block: -15px;
}

main .chats .message__text .msgg ol {
    margin-left: 40px;
}

main .chats .message__text .msgg strong {
    font-weight: bold;
}

main .chats .message__text .msgg em {
    font-style: italic;
}

main .chats .message__text .msgg th,
main .chats .message__text .msgg td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
}



.message__buttons {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
}

.copy--button,
.regenerate--button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-secondary-color);
    transition: color 0.3s ease;
    font-size: 20px;
}

.regenerate--button {
    font-size: 25px;
}



.copy--button:hover,
.regenerate--button:hover {
    color: var(--btn-hover-color);
}

.copy--button svg,
.regenerate--button svg {
    width: 20px;
    height: 20px;
}





@media (max-width: 375.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
        z-index: 9;
        background-color: var(--background-color);
        height: 7%;
    }


    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }

    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        right: 10px;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 75px;
        z-index: 10;
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1rem;
        margin-bottom: -10px;
        height: 60px;
    }

    .head .divO svg {
        width: 80px;
        margin-bottom: -55px;
    }

    .form_container {
        height: 95px;
        width: 105%;
        position: fixed;
        bottom: 9%;
        left: -2.5%;
        transform: scale(.8);
    }

    .prompt__disclaim {
        font-size: 0.6rem;
        position: fixed;
        bottom: 7%;
        left: 35%;
        margin-top: 1rem;
    }
    .head.head--focus--effect {
        bottom: -20px !important;
    }

    .deepthink__btn,
    .search__new {
        font-size: 15px;
    }

    .container {
        width: 100%;
        height: 100vh;

    }

    .head {
        width: 140%;
        margin-left: -30px;
    }

    .head .main {
        font-size: 1.5rem;
        margin-left: 25px;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 17px;
        margin-left: -50px;
    }

    div.prompt__btn button {
        width: 35px;
        height: 35px;
    }

    .prompt__btn {
        position: relative;
        transform: translate(10%, -110%);
    }

    .divC {
        margin-bottom: 15px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    main .chats {
        max-height: 98vh;
        width: 150%;
        transform: scale(.9);
        top: -30%;
        left: -25%;
    }

    main .chats .message__text .msgg pre {
        width: 100%;
    }

    main .chats .message__text .msgg code {
        font-size: 17px;
    }

    main .chats .message--incoming {
        width: 100%;
    }
}


@media (min-width: 376px) and (max-width: 413.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
        height: 130%;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
        z-index: 9;
        background-color: var(--background-color);
        height: 7%;
    }


    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }
    
    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 75px;
        z-index: 10;
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1.2rem;
        margin-bottom: -10px;
        width: 100%;
        height: 70px;
    }

    .head .divO svg {
        width: 80px;
        margin-bottom: -55px;
    }

    .form_container {
        height: 130px;
        width: 97%;
        position: fixed;
        bottom: 5%;
        left: 1.5%;
        transform: scale(.9);
    }

    .prompt__disclaim {
        font-size: 0.6rem;
        position: fixed;
        bottom: 1%;
        left: 36%;
        margin-top: 1rem;
    }

    .head.head--focus--effect {
        bottom: -20px !important;
    }

    .deepthink__btn,
    .search__new {
        font-size: 15px;
    }

    .container {
        width: 100%;
        height: 100vh;

    }

    .head {
        width: 140%;
        margin-left: -15%;
    }

    .head .main {
        font-size: 1.5rem;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 17px;
    }

    div.prompt__btn button {
        width: 40px;
        height: 40px;
    }

    .divC {
        margin-bottom: 15px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    main .chats {
        max-height: 98vh;
        width: 150%;
        transform: scale(.9);
        top: -30%;
        left: -25%;
    }

    main .chats .message__text .msgg pre {
        width: 100%;
    }

    main .chats .message__text .msgg code {
        font-size: 17px;
    }

    main .chats .message--incoming {
        width: 100%;
    }
}


@media (min-width: 414px) and (max-width: 439.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
        height: 113vh;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
        z-index: 9;
        background-color: var(--background-color);
        height: 7%;
    }

    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }

    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 65px;
        z-index: 10;
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1.2rem;
        margin-bottom: -10px;
        width: 100%;
        height: 70px;
    }

    .prompt__btn {
        position: relative;
        transform: translate(0, -30%);
    }

    .head .divO svg {
        width: 80px;
        margin-bottom: -55px;
    }

    .form_container {
        height: 130px;
        width: 97%;
        position: fixed;
        bottom: 5%;
        left: 1.5%;
        transform: scale(.9);
    }

    .prompt__disclaim {
        font-size: 0.6rem;
        position: fixed;
        bottom: 1%;
        left: 36%;
        margin-top: 1rem;
    }

    .head.head--focus--effect {
        bottom: -20px !important;
    }

    .deepthink__btn,
    .search__new {
        font-size: 15px;
    }

    .container {
        width: 100%;
        height: 100vh;

    }

    .head {
        width: 140%;
        margin-left: -15%;
    }

    .head .main {
        font-size: 1.5rem;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 17px;
    }

    div.prompt__btn button {
        width: 40px;
        height: 40px;
    }

    .divC {
        margin-bottom: 15px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    main .chats {
        max-height: 90vh;
        width: 150%;
        transform: scale(.9);
        top: -26%;
        left: -25%;
    }

    main .chats .message__text .msgg pre {
        width: 100%;
    }

    main .chats .message__text .msgg code {
        font-size: 17px;
    }

    main .chats .message--incoming {
        width: 100%;
    }
}

@media (min-width: 440px) and (max-width: 575.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
        z-index: 9;
        background-color: var(--background-color);
        height: 7%;
    }

    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }

    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 65px;
        z-index: 10;
    }

    .theme-toggle {
        position: absolute;
        top: 13px;
        right: 60px;
        z-index: 1000;
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1.2rem;
        margin-bottom: -10px;
        width: 100%;
        height: 70px;
    }

    .head .divO svg {
        width: 80px;
        margin-bottom: -55px;
    }

    .form_container {
        height: 130px;
        width: 97%;
        position: fixed;
        bottom: 5%;
        left: 1.5%;
    }

    .prompt__disclaim {
        font-size: 0.6rem;
        position: fixed;
        bottom: 1%;
        left: 36%;
        margin-top: 1rem;
    }

    .head.head--focus--effect {
        bottom: -20px !important;
    }

    .deepthink__btn,
    .search__new {
        font-size: 15px;
    }

    .container {
        width: 100%;
        height: 100vh;
        margin-left: -95px;
    }

    .head {
        width: 140%;
        margin-left: -50px;
    }

    .head .main {
        font-size: 1.5rem;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 17px;
    }

    div.prompt__btn button {
        width: 40px;
        height: 40px;
    }

    .divC {
        margin-bottom: 15px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    main .chats {
        max-height: 95vh;
        width: 120%;
        transform: scale(1.1);
        top: -100px;
        left: -50px;
    }

    main .chats .message__text .msgg pre {
        width: 100%;
    }

    main .chats .message__text .msgg code {
        font-size: 17px;
    }

    main .chats .message--incoming {
        width: 100%;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1.2rem;
        margin-bottom: -10px;
        width: 100%;
        height: 70px;
    }

    .head .divO svg {
        width: 90px;
        margin-bottom: -55px;
    }

    .form_container {
        height: 130px;
        width: 97%;
        position: fixed;
        bottom: 5%;
        left: 1.5%;
        transform: scale(.97);
    }

    .prompt__disclaim {
        font-size: 0.6rem;
        position: fixed;
        bottom: 1%;
        left: 40%;
        margin-top: 1rem;
    }

    .deepthink__btn,
    .search__new {
        font-size: 15px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .head {
        width: 140%;
    }

    .head .main {
        font-size: 2rem;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 20px;
    }

    div.prompt__btn button {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .divC {
        margin-bottom: 15px;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
    }

    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }

    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 65px;
        z-index: 10;
    }

    main .chats {
        max-height: 87vh;
        width: 110%;
        transform: scale(1.2);
        position: absolute;
        top: -50px;
        left: -30px;
    }


    .head.head--focus--effect {
        bottom: -20px !important;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -500;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 1000;
        width: 280px;
    }

    .rel-nav {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 15px;
        z-index: 9;
        background-color: var(--background-color);
        height: 7%;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--overlay-color);
        z-index: -999;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }

    .clickOptions {
        transform: scale(.7);
    }

    .rel-nav svg {
        color: var(--icon-color);
        width: 30px;
        cursor: pointer;
    }

    .rel-nav .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .rel-nav .contain:before {
        content: "";
        position: absolute;
        top: 3px;
        right: 40px;
        background-color: #bdbdc0;
        height: 25px;
        width: 1px;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;
        right: 65px;
        z-index: 10;
    }

    .sidebar {
        display: none;
    }

    .prompt__deepseek input {
        font-size: 1.5rem;
        margin-bottom: -10px;
        width: 100%;
        height: 90px;
    }

    .head .divO svg {
        width: 90px;
        margin-bottom: -55px;
    }

    .form_container {
        min-height: 150px;
        width: 100%;
        position: fixed;
        bottom: 40px;
        left: 0%;
        transform: scale(.8);
    }

    .deepthink__btn,
    .search__new {
        font-size: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .head {
        width: 140%;
    }

    .head .main {
        font-size: 2rem;
    }

    .head .sub {
        color: var(--text-color);
        font-size: 20px;
    }

    div.prompt__btn button {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .divC {
        margin-bottom: 15px;
    }

    .prompt__options {
        width: 100%;
        height: 90px;
    }

    main .chats {
        max-height: 75vh;
        width: 140%;
        transform: scale(1);
        position: absolute;
        top: -25%;
        left: -20%;
        overflow-x: hidden;
    }

    main .chats .message--incoming {
        width: 100%;
    }

    p.message__text {
        font-size: 20px;
    }

    .prompt__disclaim {
        font-size: 0.85rem;
        position: fixed;
        bottom: 3%;
        left: 40%;
        margin-top: 1rem;
    }

    .head.head--focus--effect {
        bottom: -20px !important;
    }

}


@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -500;
        overflow: hidden;
    }

    .main {
        margin-top: 70px;
    }

    nav {
        transform: translate(-100%);
        position: absolute;
        top: 0;
        z-index: 801;
        height: 105vh;
        width: 280px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        width: 5%;
        height: 105vh;
        z-index: 600;
    }

    .rel-nav {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -500;
    }

    .prompt__deepseek input {
        font-size: 1.5rem;
        margin-bottom: -10px;
        width: 100%;
        height: 90px;
    }

    .head .divO svg {
        width: 150px;
        margin-bottom: -55px;
        margin-right: -170px;
    }

    .form_container {
        min-height: 150px;
        width: 90%;
        position: fixed;
        bottom: 8%;
        left: 5%;
        transform: scale(.9);
    }

    .deepthink__btn,
    .search__new {
        font-size: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .head .main {
        font-size: 3.5rem;
    }

    .head {
        width: 150%;
        margin-left: 100px;
    }


    .head .sub {
        color: var(--text-secondary-color);
        font-size: 22px;
    }

    .head .divO {
        margin-left: 150px;
    }

    div.prompt__btn button {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .divC {
        margin-bottom: 15px;
    }

    .prompt__options {
        width: 100%;
        height: 90px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 105vh;
        background-color: var(--overlay-color);
        z-index: -799;
        opacity: 0;
        transition: opacity 0.3s ease, z-index 0.6s ease;
    }


    main .chats {
        max-height: 70vh;
        width: 100%;
        transform: scale(1.2);
        position: absolute;
        top: -10%;
        left: 4%;
    }

    .prompt__disclaim {
        font-size: 0.85rem;
        position: fixed;
        bottom: 6%;
        left: 43%;
        margin-top: 1rem;
    }

}


@media (min-width: 1200px) and (max-width: 2560.98px) {
    body {
        font-size: 20px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -500;
        overflow: hidden;
    }

    .rel-nav {
        display: none;
    }

    .head .sub {
        color: var(--text-secondary-color);
        font-size: 25px;
        margin-left: -100px;
    }

    .head {
        width: 110%;
        transition: all .3s ease;
    }

    .head svg {
        width: 150px;
        margin-right: -160px;
    }

    .head .main {
        font-size: 55px;
    }

    .form_container {
        min-height: 150px;
        width: 75%;
        position: fixed;
        bottom: 5%;
        left: 22.5%;
    }

    .form_container.form--nav--active {
        min-height: 150px;
        width: 85%;
        position: fixed;
        bottom: 9%;
        left: 11%;
        transition: all .3s ease;
    }

    main .chats {
        max-height: 70vh;
        width: 100%;
        transform: scale(1.2);
        position: absolute;
        top: -350px;
        left: 20px;
    }

    .prompt__disclaim {
        font-size: 0.85rem;
        position: fixed;
        bottom: 5%;
        left: 48%;
        margin-top: 1rem;
    }
}
